<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/lrnsys-outline/lrnsys-outline.html">
<link rel="import" href="../../bower_components/map-menu/map-menu.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="hax-app-outline-ui">
  <template>
    <style>
      :host {
        display: flex;
      }

      #drawer {
        width: 0em;
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 1px;
        background-color: #f5f7f9;
        @apply --hax-app-outline-ui-drawer;
      }

      .drawer_wrap {
        padding: 10px;
      }

      :host[opened] #drawer {
        width: 20em;
      }

      paper-icon-button#menuTrigger {
        top: -15px;
        right: 40px;
        height: 50px;
        width: 50px;
      }

      paper-icon-button#editBtn {
        float: right;
      }

      .outline_menu {
        background-color: #fff;
      }

      #content {
        margin-left: 2em;
        flex: 1 1 auto;
        padding: 1em;
      }
    </style>


    <div id="drawer">
      <div class="outline_menu">
        <paper-icon-button id="editBtn" icon="icons:create"></paper-icon-button>
      </div>
      <div class="drawer_wrap">
        <map-menu id="menu" opened selected="[[activePage]]"></map-menu>
        <lrnsys-outline id="outline"></lrnsys-outline>
      </div>
    </div>

    <div id="content">
      <div id="header">
        <paper-icon-button disabled$="__menuTransitioning" id="menuTrigger" icon="menu"></paper-icon-button>
      </div>
      <div id="slot">
        <slot></slot>
      </div>
    </div>


  </template>
  <script>
    Polymer({
      is: 'hax-app-outline-ui',

      properties: {
        /** 
         * The open state of the menu
         */
        opened: {
          type: Boolean,
          value: true,
          reflectToAttribute: true
        },
        /** 
         * The linear menu outline
         */
        outline: {
          type: Array,
          value: [],
          observer: '__outlineChanged'
        },
        /** 
         * Current active page
         */
        activePage: {
          type: String,
          value: '',
        },
        /** 
         * The active state of menu animating
         */
        __menuTransitioning: {
          type: Boolean,
          value: false
        },
      },

      observers: [
        '__openedChanged(opened)'
      ],

      listeners: {
        'menu.Tap': '__menuTap',
        'menuTrigger.tap': '__menuTriggerTap',
        'editBtn.tap': '__editBtnTap',
      },

      /**
       * Set or update the outline data.
       */
      setData: function (outline) {
        this.outline = outline;
      },

      /**
       * Set or update map menu and outline editor
       */
      __setData: function (outline) {
        this.$.menu.setData(outline);
        this.$.outline.setData(outline);
      },

      /**
       * When the outline changes then update the data
       * in both the map menu and the outline components
       */
      __outlineChanged: function (outline, old) {
        this.__setData(outline);
      },

      /** 
       * React to the opened state change.
       */
      __openedChanged: function (opened) {
      },

      /**
       * Menu Trigger Tap
       */
      __menuTap: function (e) {
        e.stopPropagation();
      },

      /**
       * Menu Trigger Tap
       */
      __menuTriggerTap: function (e) {
        this.opened = !this.opened;
      },

      // __editBtnTap: function (e) {
      //   this.
      // },

    });
  </script>
</dom-module>